@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1e1e21;
	font-family: "Poppins", sans-serif;
	color: white;
	padding: 0 50px 50px 50px;
}